:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}

[theme='dark'] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  height: calc(100vh - 40px);
  transition: all .5s;
}

button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all .5s;
}

main {
  min-height: 80vh;
}

img {
  width: 250px;
  height: 180px;
}

.imgCustom {
  width: 500px;
  height: 400px;
}

.navCustom {
  height: 60px;
}

.custom-search-input {
  background-color: #f8f9fa;
  border: 1px solid rgb(43, 168, 18);
  border-radius: 30px;
  width: 300px;
}

.custom-search-btn {
  border: 1px solid #ccc;
  border-radius: 30px;
}

/* Light theme */
.light-theme {
  background-color: white;
  color: black;
}

/* Dark theme */
.dark-theme {
  background-color: #343A40;
  color: white;
}
.dark-theme .navCstm {
  background-color: #343A40;
  //color: white;
}

 .light-theme h1 {
  color: #343A40;
}

.dark-theme h1 {
  color: white;
}

.light-theme a {
  color: #343A40;
}

.dark-theme a {
  color: white;
}
.dark-theme .crd {
  background-color: #343A40;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #343A40;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: #343A40;
  }
}
